@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin:0px 0px;
    padding:0px 0px;
    box-sizing:border-box;
    list-style: none;
    line-height: 1.4;
}

:root {
    /* --main-color: #40976C; */
    --main-color: #2CB577;
    /* --main-color-lighter: #EAF8F2; */
    --main-color-lighter: #D5F0E3;
    --main-color-darker: #377e5a;
    --medium-gray: #768087;
    --light-gray: #DDDFE2;
    --lighter-gray: #f7f7f7;
    --border-radius: 15px;
    --shadow-transition: box-shadow 0.3s ease-in-out;
}

.card p{
    margin-bottom: 5px;
    margin-top: 5px;  
}

.card-rating p{
    display: inline-block;
    margin-right: 20px;
    line-height: 1.5;
    margin-top: -5px;
}

.card .ratingAvg{
    font-size: 30px;
}

.wine-card{
    margin-bottom: 10px;
}

.wine-card-info{
    /* background-color: var(--lighter-gray); */
    border-radius: 10px;
    /* padding: 10px; */
    /* Ducjm8F5R!DdkG */
}

.wine-card-info p{
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    background-color: var(--main-color-lighter);
    color: var(--main-color);
    border-radius: var(--border-radius);
    margin: 0 5px 10px 0;
    font-weight: 4 00;
}
.wine-card-info p:hover{
    background-color: var(--main-color);
    color: #fff;
}

.stButton{
    color: var(--main-color);
}

.stButton button{
    border: none;
    background-color: var(--lighter-gray);
}

.stButton button p{
    font-size: 15px;
}

.button-container button{
    display: flex;
    justify-content: start;
    gap: 10px;
    /* margin: 20px; */
}

.wine-card h2{
    color: var(--main-color);
    font-size: 25px;
    padding-top: 0;
    
}

.title-rating p{
    color: var(--main-color);
    font-size: 20x;
}

.wine-card h3{
    /* color: var(--medium-gray);
    font-size: 20px; */

    font-size: 20px;
    margin-bottom: 10px;
    color: var(--main-color-darker);
}

.wine-image img {
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}


/* ------------ Sidebar */

/* .stSidebar {
    background-color: #1e1e1e !important;
    color: white;
} */


div[data-testid="stSidebarNav"]
ul[data-testid="stSidebarNavItems"]
li a[data-testid="stSidebarNavLink"] {
    background-color: var(--light-gray);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

[data-testid="stVerticalBlockBorderWrapper"] {
    border: none;

}